@font-face {
   font-family: '兰亭黑 GBK';
   font-display: swap;
   src: url('file:///C:/Users/17530/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-08_200509/fonts/%E5%85%B0%E4%BA%AD%E9%BB%91%20GBK/font.TTF');
}
